db.sqlite3
project/__pycache__/
authapp/__pycache__/
authapp/migrations/__pycache__/
accounts/__pycache__/
accounts/migrations/__pycache__/
posts/__pycache__/
posts/migrations/__pycache__/
exercises/__pycache__/
exercises/migrations/__pycache__/
health/__pycache__/
health/migrations/__pycache__/
illnesses/__pycache__/
illnesses/migrations/__pycache__/
static/
myvenv/
exercises/management/commands/__pycache__/
notifications/__pycache__/
notifications/migrations/__pycache__/
chatapp/__pycache__
chatapp/migrations/__pycache__